NET "left_btn" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "down_btn" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;
NET "up_btn" LOC = P34 | IOSTANDARD = LVTTL | PULLUP;
NET "right_btn" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;

NET "start_btn" LOC = P23 | IOSTANDARD = LVTTL | PULLUP;
NET "reset_btn" LOC = P24 | IOSTANDARD = LVTTL | PULLUP;