NET "left_btn" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "right_btn" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "up_btn" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "down_btn" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;

NET "start_btn" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;
NET "reset_btn" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;