NET "r_red<0>" LOC = P51 | IOSTANDARD = LVTTL;
NET "r_red<1>" LOC = P41 | IOSTANDARD = LVTTL;
NET "r_red<2>" LOC = P98 | IOSTANDARD = LVTTL;
NET "r_red<3>" LOC = P98 | IOSTANDARD = LVTTL;
NET "r_red<4>" LOC = P98 | IOSTANDARD = LVTTL;
NET "r_red<5>" LOC = P98 | IOSTANDARD = LVTTL;
NET "r_red<6>" LOC = P98 | IOSTANDARD = LVTTL;
NET "r_red<7>" LOC = P98 | IOSTANDARD = LVTTL;

NET "r_green<0>" LOC = P80 | IOSTANDARD = LVTTL;
NET "r_green<1>" LOC = P81 | IOSTANDARD = LVTTL; 
NET "r_green<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "r_green<3>" LOC = P83 | IOSTANDARD = LVTTL; 
NET "r_green<4>" LOC = P84 | IOSTANDARD = LVTTL;
NET "r_green<5>" LOC = P85 | IOSTANDARD = LVTTL; 
NET "r_green<6>" LOC = P87 | IOSTANDARD = LVTTL;
NET "r_green<7>" LOC = P88 | IOSTANDARD = LVTTL; 

NET "col<0>" LOC = P57 | IOSTANDARD = LVTTL; 
NET "col<1>" LOC = P58 | IOSTANDARD = LVTTL; 
NET "col<2>" LOC = P66 | IOSTANDARD = LVTTL; 
NET "col<3>" LOC = P67 | IOSTANDARD = LVTTL; 
NET "col<4>" LOC = P74 | IOSTANDARD = LVTTL; 
NET "col<5>" LOC = P75 | IOSTANDARD = LVTTL; 
NET "col<6>" LOC = P78 | IOSTANDARD = LVTTL; 
NET "col<7>" LOC = P79 | IOSTANDARD = LVTTL; 
