NET "left_btn" LOC = P51;
NET "left_btn" IOSTANDARD = LVTTL;
NET "left_btn" PULLUP;
NET "right_btn" LOC = P41;
NET "right_btn" IOSTANDARD = LVTTL;
NET "right_btn" PULLUP;
NET "up_btn" LOC = P35;
NET "up_btn" IOSTANDARD = LVTTL;
NET "up_btn" PULLUP;
NET "down_btn" LOC = P33;
NET "down_btn" IOSTANDARD = LVTTL;
NET "down_btn" PULLUP;

NET "start_btn" LOC = P24;
NET "start_btn" IOSTANDARD = LVTTL;
NET "start_btn" PULLUP;
NET "reset_btn" LOC = P27;
NET "reset_btn" IOSTANDARD = LVTTL;
NET "reset_btn" PULLUP;
