NET "r_red[7]" LOC = P98;
NET "r_red[7]" IOSTANDARD = LVTTL;
NET "r_red[6]" LOC = P95;
NET "r_red[6]" IOSTANDARD = LVTTL;
NET "r_red[5]" LOC = P93;
NET "r_red[5]" IOSTANDARD = LVTTL;
NET "r_red[4]" LOC = P88;
NET "r_red[4]" IOSTANDARD = LVTTL;
NET "r_red[3]" LOC = P85;
NET "r_red[3]" IOSTANDARD = LVTTL;
NET "r_red[2]" LOC = P83;
NET "r_red[2]" IOSTANDARD = LVTTL;
NET "r_red[1]" LOC = P81;
NET "r_red[1]" IOSTANDARD = LVTTL;
NET "r_red[0]" LOC = P79;
NET "r_red[0]" IOSTANDARD = LVTTL;

NET "col[7]" LOC = P29;
NET "col[7]" IOSTANDARD = LVTTL;
NET "col[6]" LOC = P26;
NET "col[6]" IOSTANDARD = LVTTL;
NET "col[5]" LOC = P23;
NET "col[5]" IOSTANDARD = LVTTL;
NET "col[4]" LOC = P21;
NET "col[4]" IOSTANDARD = LVTTL;
NET "r_green[0]" LOC = P16;
NET "r_green[0]" IOSTANDARD = LVTTL;
NET "r_green[1]" LOC = P14;
NET "r_green[1]" IOSTANDARD = LVTTL;
NET "r_green[2]" LOC = P11;
NET "r_green[2]" IOSTANDARD = LVTTL;
NET "r_green[3]" LOC = P9;
NET "r_green[3]" IOSTANDARD = LVTTL;
NET "r_green[4]" LOC = P7;
NET "r_green[4]" IOSTANDARD = LVTTL;
NET "r_green[5]" LOC = P5;
NET "r_green[5]" IOSTANDARD = LVTTL;
NET "r_green[6]" LOC = P1;
NET "r_green[6]" IOSTANDARD = LVTTL;
NET "r_green[7]" LOC = P143;
NET "r_green[7]" IOSTANDARD = LVTTL;
NET "col[3]" LOC = P141;
NET "col[3]" IOSTANDARD = LVTTL;
NET "col[2]" LOC = P139;
NET "col[2]" IOSTANDARD = LVTTL;
NET "col[1]" LOC = P137;
NET "col[1]" IOSTANDARD = LVTTL;
NET "col[0]" LOC = P133;
NET "col[0]" IOSTANDARD = LVTTL;

