NET "r_red[0]" LOC = P92;
NET "r_red[0]" IOSTANDARD = LVTTL;
NET "r_red[1]" LOC = P93;
NET "r_red[1]" IOSTANDARD = LVTTL;
NET "r_red[2]" LOC = P94;
NET "r_red[2]" IOSTANDARD = LVTTL;
NET "r_red[3]" LOC = P95;
NET "r_red[3]" IOSTANDARD = LVTTL;
NET "r_red[4]" LOC = P97;
NET "r_red[4]" IOSTANDARD = LVTTL;
NET "r_red[5]" LOC = P98;
NET "r_red[5]" IOSTANDARD = LVTTL;
NET "r_red[6]" LOC = P99;
NET "r_red[6]" IOSTANDARD = LVTTL;
NET "r_red[7]" LOC = P100;
NET "r_red[7]" IOSTANDARD = LVTTL;

NET "r_green[0]" LOC = P80;
NET "r_green[0]" IOSTANDARD = LVTTL;
NET "r_green[1]" LOC = P81;
NET "r_green[1]" IOSTANDARD = LVTTL;
NET "r_green[2]" LOC = P82;
NET "r_green[2]" IOSTANDARD = LVTTL;
NET "r_green[3]" LOC = P83;
NET "r_green[3]" IOSTANDARD = LVTTL;
NET "r_green[4]" LOC = P84;
NET "r_green[4]" IOSTANDARD = LVTTL;
NET "r_green[5]" LOC = P85;
NET "r_green[5]" IOSTANDARD = LVTTL;
NET "r_green[6]" LOC = P87;
NET "r_green[6]" IOSTANDARD = LVTTL;
NET "r_green[7]" LOC = P88;
NET "r_green[7]" IOSTANDARD = LVTTL;

NET "col[0]" LOC = P57;
NET "col[0]" IOSTANDARD = LVTTL;
NET "col[1]" LOC = P58;
NET "col[1]" IOSTANDARD = LVTTL;
NET "col[2]" LOC = P66;
NET "col[2]" IOSTANDARD = LVTTL;
NET "col[3]" LOC = P67;
NET "col[3]" IOSTANDARD = LVTTL;
NET "col[4]" LOC = P74;
NET "col[4]" IOSTANDARD = LVTTL;
NET "col[5]" LOC = P75;
NET "col[5]" IOSTANDARD = LVTTL;
NET "col[6]" LOC = P78;
NET "col[6]" IOSTANDARD = LVTTL;
NET "col[7]" LOC = P79;
NET "col[7]" IOSTANDARD = LVTTL;

