NET "left_btn" LOC = P2 | IOSTANDARD = LVTTL | PULLUP;
NET "down_btn" LOC = P8 | IOSTANDARD = LVTTL | PULLUP;
NET "up_btn" LOC = P6 | IOSTANDARD = LVTTL | PULLUP;
NET "right_btn" LOC = P10 | IOSTANDARD = LVTTL | PULLUP;

NET "start_btn" LOC = P27 | IOSTANDARD = LVTTL | PULLUP;
NET "reset_btn" LOC = P24 | IOSTANDARD = LVTTL | PULLUP;