
NET "r_red<7>" LOC = P99 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<6>" LOC = P101 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<5>" LOC = P104 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<4>" LOC = P111 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<3>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<2>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<1>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN; 
NET "r_red<0>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN; 

NET "col<7>" LOC = P123 | IOSTANDARD = LVTTL; 
NET "col<6>" LOC = P126 | IOSTANDARD = LVTTL; 
NET "col<5>" LOC = P131 | IOSTANDARD = LVTTL; 
NET "col<4>" LOC = P133 | IOSTANDARD = LVTTL; 
NET "r_green<0>" LOC = P137 | IOSTANDARD = LVTTL;
NET "r_green<1>" LOC = P139 | IOSTANDARD = LVTTL;
NET "r_green<2>" LOC = P141 | IOSTANDARD = LVTTL;
NET "r_green<3>" LOC = P143 | IOSTANDARD = LVTTL;
NET "r_green<4>" LOC = P1 | IOSTANDARD = LVTTL;
NET "r_green<5>" LOC = P5 | IOSTANDARD = LVTTL;
NET "r_green<6>" LOC = P7 | IOSTANDARD = LVTTL;
NET "r_green<7>" LOC = P9 | IOSTANDARD = LVTTL;
NET "col<3>" LOC = P11 | IOSTANDARD = LVTTL; 
NET "col<2>" LOC = P14 | IOSTANDARD = LVTTL; 
NET "col<1>" LOC = P16 | IOSTANDARD = LVTTL; 
NET "col<0>" LOC = P21 | IOSTANDARD = LVTTL;  

