NET "io_seg<4>" LOC = P98 | IOSTANDARD = LVTTL;
NET "io_seg<3>" LOC = P95 | IOSTANDARD = LVTTL;

NET "io_seg<2>" LOC = P93 | IOSTANDARD = LVTTL;
NET "io_seg<6>" LOC = P88 | IOSTANDARD = LVTTL;
NET "io_sel<3>" LOC = P85 | IOSTANDARD = LVTTL;


NET "io_sel<0>" LOC = P83 | IOSTANDARD = LVTTL;
NET "io_seg<0>" LOC = P81 | IOSTANDARD = LVTTL;
NET "io_seg<5>" LOC = P79 | IOSTANDARD = LVTTL;
NET "io_sel<1>" LOC = P75 | IOSTANDARD = LVTTL;
NET "io_sel<2>" LOC = P67 | IOSTANDARD = LVTTL;
NET "io_seg<1>" LOC = P50 | IOSTANDARD = LVTTL;

